table,
tr {

  color: #000000;
  background-color: #ffffff;


}

.abc {
  border-bottom: 0.1px solid red;
  /* Altere a largura e a cor conforme necessário */

}

th {
  text-align: center;
  border-radius: 10px;
  /* border-color: 0.6px blue solid; */

}

.customize-buttons {
  background-color: red;
}