/* .full-width-table {
    width: 100%;
}  */

table {
    width: 100%;
} 
/* 
table,
tr {
    color: #000000;
    background-color: #ffffff;
}

.abc {
    border-bottom: 0.1px solid red;
    
}

th {
    border: 0.5px;
    border-color: blue;
    border-style: solid;
} */
