* {
    
    background-color: #ffffff;
}

.home .title {
    color: #000000;
    font-size: larger;
    font-weight: bold;  
}

.home .subtitle {
    color: #000000;
    font-size: medium;
    font-weight: lighter;  
}