.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
}

.icons-header-group {
    height: 50%;
}

.customize-header-icon {
    width: 100%;
    height: 100%;
    font-size: 30px;
    text-align: center;
    color: var(--crudIconViewYellow);
}

button {
    border: none;
    background: transparent;
}

.customize-header-title {
    font-size: larger;
    font-weight: bolder;

    font-family: var(--crudFontStyle);
    color: var(--crudTextColor);
}

.customize-header-title::first-letter {
    text-transform: uppercase;
}

.my-icon {
    width: 100%;
    height: 100%;
}