/* You can add global styles to this file, and also import other style files */

:root {
    --crudTextColor: #000000;
    --crudBackgroundColor: #FAFAFA;
    --crudSectionColor: #FFFFFF;
    --crudComponentBackground: #EBEBEB;
    --crudIconViewYellow: #FFBD08;
    --crudIconViewBlue: #174AE4;
    --crudIconViewRed: #FF5252;
    --crudBorderRadius: 10px;
    --crudComponentBorderRadius: 5px;
}

html,
body {
    margin: 10px;
    /* height: 100vh; */
}

body {

    background-color: var(--crudBackgroundColor);
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.msg-success {
    background-color: #c2ff67;
    color: black ;
}

.msg-error {
    background-color: red;
    color: black ;

}