/* You can add global styles to this file, and also import other style files */

body {
    margin: 0;
    background-color: #c2ff67;
    border: 5px blue solid;

    /* overflow: auto; */

    height: 100vh;

    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.msg-success {
    background-color: #c2ff67;
    color: black ;
}

.msg-error {
    background-color: red;
    color: black ;

}