mat-card {
    width: 165vh;
    height: 85vh;
    margin-top: 25px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

}

.container-table {
    min-width: 80%;
}


#btn_create_product {
    margin: 25px;
    border: none;
    min-width: 50%;
    min-height: 50px;
    font-size: large;
    font-weight: bold;
    color: #fff;
    background-color: var(--crudIconViewYellow);
    font-family: var(--crudFontStyle);
    border-radius: var(--crudComponentBorderRadius);
}

#btn_create_product:hover {
    text-decoration: underline;
    background-color: var(--crudIconViewBlue);
}