<mat-card class="container-view">
    <div class="container-text">
        <p>Este projeto é o fruto do meu estudo e prática com Angular 17. A proposta central aqui foi desenvolver um
            projeto do tipo CRUD, utilizando o Angular como framework
            front-end e para simular o comportamento de um servidor back-end, optei por incorporar o JSON Server.
        </p>
        <p> O que me motivou a o escolher o Angular foi o interesse em explorar seu ecossistema de criação de interfaces
            interativas e responsivas. A versão 17, à época do desenvolvimento, ofereceu as mais recentes
            funcionalidades e
            melhorias, proporcionando um ambiente propício para a criação de aplicações web modernas.</p>
        <p>
            O uso do JSON Server como emulador de back-end acrescenta uma camada valiosa ao projeto. Isso permitiu a
            criação de um ambiente simulado para testes e desenvolvimento, viabilizando a execução de operações CRUD sem
            depender de um servidor real.
        </p>
        <p>
            Ao longo do processo, enfatizei boas práticas de programação, design responsivo e a implementação de um
            código
            limpo e modular. Dessa forma, o projeto não apenas atende às funcionalidades básicas de um CRUD, mas também
            destaca-se pela organização e legibilidade do código.
        </p>
    </div>
</mat-card>
