mat-card {
    
    margin: 0;
    box-shadow: none;
    background: transparent;
}

.container-text {
    width: 80%;
}

p {    
    text-align: justify;
    font-size: medium;
    font-family: var(--crudFontStyle);
    color: var(--crudTextColor);
    /* border: red 1px solid; */
}