mat-card {
    background: transparent;
    box-shadow: none;

}

/* mat-toolbar {
    background-color: transparent;
}

#btn_back_page {
    color: var(--crudIconViewYellow);
    border: none;
    background: transparent;
} */

.container-form {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-input {
    width: 100%;
    position: relative;
    margin: 10px;
}

.container-input {
    padding: 20px;
    border-radius: var(--crudComponentBorderRadius);
    background-color: var(--crudBackgroundColor);
}

.customize-input {
    width: 100%;
    outline: 0;
    border: none;
    padding: 10px 0px;
    font-size: medium;
    color: var(--crudTextColor);
    font-family: var(--crudFontStyle);
    border-bottom: 2px solid var(--crudComponentBackground);
    transition: border-color 0.4s;
    background: transparent;
}

.customize-input::placeholder {
    color: transparent;
}

.customize-input:placeholder-shown~.customize-label {
    top: 30px;
    font-size: large;
    cursor: text;
}

.customize-label {
    top: 0;
    display: block;
    position: absolute;
    color: var(--crudTextColor);
    font-size: medium;
    pointer-events: none;
    transition: 0.4s;
}

.customize-input:focus {
    font-weight: normal;
    font-family: var(--crudFontStyle);
    border-width: 3px;
    padding-bottom: 4px;
    border-color: var(--crudIconViewYellow);
}

.customize-input:focus~.customize-label {
    top: 0;
    display: block;
    font-weight: bold;
    font-size: medium;
    position: absolute;
    color: var(--crudTextColor);
    transition: 0.4s;
}

/* reset input */
.customize-input:required,
.customize-input:invalid {
    box-shadow: none;
}