<mat-card>
    <mat-card-title>
        Novo Produto
    </mat-card-title>

    <form>
        <mat-form-field>           
            <mat-label>Nome do produto</mat-label>
            <input matInput placeholder="" value="" [(ngModel)]="product.name" name="name" > 
        </mat-form-field>

        <mat-form-field>
            <mat-label>Preço do produto</mat-label>
            <input type="" matInput placeholder="" value="" [(ngModel)]="product.price" name="price">
        </mat-form-field>
    </form>
    <div class="btn-confirms">
        <button mat-raised-button (click)="createProduct()" color="primary">
            Salvar
        </button>
        
        <button mat-raised-button (click)="cancel()">
            Cancelar
        </button>
    </div>
</mat-card>


