<mat-card class="container-view">
    <form class="container-form field">
        <div class="container-input">
            <input type="input" class="customize-input" placeholder="Name" [(ngModel)]="product.name" name="name">
            <label for="name" class="customize-label">Nome do produto</label>
        </div>
    </form>
    <form class="container-form field">
        <div class="container-input">
            <input type="input" class="customize-input" placeholder="Price" [(ngModel)]="product.price" name="price">
            <label for="name" class="customize-label">Preço do produto</label>
        </div>
    </form>

    <div class="container-btn">
        <button mat-raised-button (click)="createProduct()" color="">
            Salvar
        </button>

        <button mat-raised-button (click)="cancel()">
            Cancelar
        </button>
    </div>
</mat-card>