mat-card {
    margin: 0;
    box-shadow: none;
    background: transparent;
}

p {
    width: 80%;
    text-align: justify;
    font-size: medium;
    font-family: var(--crudFontStyle);
    color: var(--crudTextColor);
    /* border: red 1px solid; */
}