.nav-container{
    background-color: transparent;
}

.customiza-sidenav {
    width: 12%;
    height: 90vh;
    margin-top: 20px;
    margin-right: 100px;
    margin-bottom: 40px;
    border-radius: var(--crudBorderRadius);
    background-color: var(--crudSectionColor);
}

.nav-list {
    height: 90%;
    /* border: red dashed 1px; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.btns-components-navbar {

    min-width: 80%;
    height: 55px;
    border-radius: var(--crudComponentBorderRadius);
    margin-bottom: 10px;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    border: none;
    background-color: var(--crudComponentBackground);

    /* border: red 1px solid; */

}

.customize-icon {
    margin: 10px;
}

.content-in-btn {
    display: flex;
    align-items: baseline;
    justify-content: center;
    font-size: large;
    text-decoration: none;
    color: var(--crudTextColor);
}

.content {
    margin-top: 20px;
    display: flex;
    align-items: end;
    justify-content: center;
    flex-direction: column;
}
.view-container {
    width: 97%;
    height: 80vh;
    
    border-radius: var(--crudBorderRadius);
    background-color: red;

    border: blue dashed 1px;
}