<mat-sidenav-container class="container">
    <!--Ativando a visibilidade da side bar:-->
    <mat-sidenav id="barra" class="sidenav" mode="side" opened fixedInViewport="true" fixedTopGap="64">
        <mat-nav-list class="nav-list">
            <div>
                <a mat-list-item routerLink="/">
                    <span class="material-icons">home</span>
                    Início
                </a>
            </div>

            <a mat-list-item routerLink="/products">
                <span class="material-icons">storefront</span>
                Produtos
            </a>

            <a mat-list-item routerLink="/">
                <span class="material-icons">policy</span>
                Licença
            </a>

            <a mat-list-item routerLink="">
                <span class="material-icons">info</span>
                Sobre
            </a>
        </mat-nav-list>
    </mat-sidenav>

    <!--Menu de exibição-->
    <mat-sidenav-content class="content">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
    
</mat-sidenav-container>