.material-icons {
    width: 30%;
    min-height: 30%;
    border: solid red 1px;
    color: #000000;
}

.sidenav {
    background-color: blueviolet;
}


.content {
    display: flex;
    align-items: center; /*eixo x*/
    justify-content: center; /*eixo y*/
    flex-direction: row;
    background-color: red;
}