.sidenav {
    width: 10%;
    background-color: blueviolet;
}

.sidenav a {
    color: #FFFFFF;
}


.sidenav i {
    padding-right: 10px;
}

.content {
    padding: 20px;
    
    background-color: #FFFFFF;
}