<mat-card class="container-view">
    <!-- <mat-card-title>
        Excluir Produto
    </mat-card-title>

    <form>
        <mat-form-field>           
            <mat-label>Nome do produto</mat-label>
            <input matInput placeholder="" value="" [value]="product.name" name="name" disabled > 
        </mat-form-field>

        <mat-form-field>
            <mat-label>Preço do produto</mat-label>
            <input type="" matInput placeholder="" value="" [value]="product.price" name="price" disabled>
        </mat-form-field>
    </form>
    <div class="btn-confirms">
        <button mat-raised-button (click)="deleteProduct()" color="primary">
            Excluir
        </button>
        
        <button mat-raised-button (click)="cancel()">
            Cancelar
        </button>
    </div> -->
    <form class="container-form">
        <section class="section-input">
            <div class="container-input">
                <input type="input" class="customize-input" placeholder="Name" [value]="product.name" name="name" disabled>
                <label for="name" class="customize-label"> Nome do produto</label>
            </div>
        </section>

        <section class="section-input">
            <div class="container-input">
                <input type="input" class="customize-input" placeholder="Price"  [value]="product.price" name="price" disabled>
                <label for="name" class="customize-label">Preço do produto</label>
            </div>
        </section>

        <section class="container-btn">
            <button class="customize-buttons" id="confirm" id="btn_delete" (click)="deleteProduct()" color="">
                Deletar
            </button>

            <button class="customize-buttons" id="cancel" (click)="cancel()">
                Cancelar
            </button>
        </section>
    </form>

</mat-card>