mat-card {
    margin-top: 25px;
    background: transparent;
}
.container-license {
    width: 80%;
    overflow: auto;
    text-align: justify;
    margin-bottom: 25px;
}
.container-license::-webkit-scrollbar {
    display: none;
}
.license {
    overflow: hidden;
    font-size: medium;
    font-family: var(--crudFontStyle);
    color: var(--crudTextColor);
}

/* ocultar a barra de rolagem do navegador */
.license::-webkit-scrollbar {
    display: none;
}

h1,h2,h3,h4,h5,h6 {
    font-family: var(--crudFontStyle);
    text-decoration: underline;
    font-weight: bold;
    font-size: large;
    text-transform: capitalize;
}

a {
    font-weight: bold;
    text-decoration: none;
    color: var(--crudIconViewBlue);
}