<!-- class="mat-elevation-z0" -->
<mat-toolbar class="header-container">
    <header class="header">
        <span class="title-group">
            <a routerLink="routeUrl">
                <span class="material-icons">
                    {{icon}}
                </span>
                <!-- {{title}} -->
            </a>
        </span>
        <span>
            <a routerLink="/">
                <img class="my-icon" src="./assets/img/logo-marca.svg" alt="" srcset="">
            </a>
        </span>
    </header>
</mat-toolbar>