<!-- class="mat-elevation-z0" -->
<mat-toolbar class="header-container">
    <!-- title-group -->
    <span class="icons-header-group">
        <a routerLink="routeUrl">
            <mat-icon class="customize-header-icon" aria-hidden="false" aria-label="icon"
                fontIcon="{{icon}}"></mat-icon>
        </a>
    </span>

    <span class="customize-header-tile">
        <h1>
            {{title}}
        </h1>
    </span>


    <span class="icons-header-group">
        <a routerLink="/">
            <img class="my-icon" src="./assets/img/logo-marca.svg" alt="" srcset="">
        </a>
    </span>


    <!-- <header class="header"></header> -->
</mat-toolbar>