.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    /* border-radius: var(--crudBorderRadius);
    background-color: var(--crudSectionColor); */

}

.icons-header-group {
    height: 50%;
}

.customize-header-icon {
    width: 100%;
    height: 100%;
    font-size: 30px;
    text-align: center;
    color: var(--crudIconViewYellow);
}

.customize-header-tile {
    
    font-size: larger;
    font-weight: bold;
    font-family: var(--crudFontStyle);
    color: var(--crudTextColor);
}

.my-icon {
    width: 100%;
    height: 100%;
}